* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: "Lato Bold";
	src: url("../fonts/Lato-Bold.eot");
	src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
		/* url("./Fonts/Lato-Bold.woff") format("woff"), */ url("../fonts/Lato-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato Medium";
	src: url("../fonts/Lato-Medium.eot");
	src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"),
		/* url("./Fonts/Lato-Medium.woff") format("woff"), */ url("../fonts/Lato-Medium.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
body {
	background-color: antiquewhite;
}
.container {
	display: block;
	margin: 0 auto;
	width: 67%;
}
.title {
	display: block;
	font-family: "Lato Bold";
	font-size: 50pt;
	padding-bottom: 2%;
}
.title__divider {
	display: block;
	width: 100%;
	height: 0.12rem;
	background-color: rgb(197, 211, 215);
}
.bayan {
	cursor: pointer;
	color: rgb(35, 112, 194);
	transition: color .3s;
}
.bayan:hover {
	color:black;
}
.bayan:hover .bayan__title:after{
	opacity: 1;
}
.bayan__block {
	display: block;
}
.bayan__item {
	padding: 2% 0;
}
.bayan__title {
	display: block;
	position: relative;
	cursor: pointer;
	font-family: "Lato Bold";
	font-size: 32pt;
}
.bayan__title:after {
	content: "";
	display: block;
	opacity: 0;
	transition: opacity .6s ease-in-out;
	position: absolute;
	margin-left: 93%;
	margin-top: -2.7%;
	background: url(../image/icons/add_FILL0_wght400_GRAD0_opsz48.png) no-repeat 50% / cover;
	width: 2.5rem;
	height: 2.5rem;
}
.bayan__radio {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}
.bayan__radio:checked ~ .bayan__img {
	display: block;
}
.bayan__radio:checked ~ .bayan__title:after {
	content: "";
	display: block;
	position: absolute;
	margin-left: 93%;
	margin-top: -2.7%;
	background: url(../image/icons/close_FILL0_wght400_GRAD0_opsz48.png) no-repeat 50% / cover;
	width: 2.5rem;
	height: 2.5rem;
}
.bayan__radio:checked ~ .bayan__title {
	color:black;
}
.bayan__img {
	display: none;	
}
img {
	display: block;
	margin: 4% auto;
	width: 40%;
}
@media (min-width: 1920px) {
}
@media (min-width: 820px) {
}
@media (min-width: 320px) {
}
